.body{
    background-color: rgba(214, 216, 216, 0.867)
}
p{
    margin: 0;
    font-weight: bold;
}
#tekstA{
    
}
#tekstB{

}
#tekstC{
    font-size: 9px;
    color:red;
}
#tekstD{
    color:red;
}
